Please enter your new password
<form action='/users' method='post'>
  <input type="hidden" name="_method" value="patch">
  <input type='hidden' name='token' value="<%= @token %>">
  <input type='password' name='password' placeholder='Your new password'>
  <input type='password' name='password_confirmation' placeholder='Confirm new password'>
  <input type='submit' value='Reset password'>
</form>

