<h1>Create new Bookmark</h1>

<form action='/links' method='post'>
  <input type='text' name='title' placeholder='Bookmark Title'>
  <input type='url' name='url' placeholder='Bookmark URL'>
  <input type='text' name='tags' placeholder='Bookmark Tag'>
  <input type='submit' value='CREATE'>
</form>
