<h1> Links </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      <br>
      URL: <%= link.url %>
      <br>
      Tag: <%= link.tags.first.name  if !!link.tags %>
    </li>
  <% end %>
</ul>

<a href='/links/new'>Add Bookmark</a>


