<h1> Links </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      <br>
      URL: <%= link.url %>
      <br>
      Tags: 
      <% unless link.tags.empty? %>
        <% link.tags.each do |tag| %>
          <%= tag.name + ' ' %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<a href='/links/new'>Add Bookmark</a>


