<h1> Links </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= "<a href='#{link.url}'>" + link.title + "</a>" %>
      <br>
      URL: <%= link.url %>
      <br>
      Tags: 
      <% unless link.tags.empty? %>
        <% link.tags.each_with_index do |tag, i| %>
          <%= "<a href='/tags/#{tag.name}'>" + tag.name + "</a>" %>
        <% end %>
      <% end %>
    </li><br>
  <% end %>
</ul>

<a href='/links/new'>Add Bookmark</a>
<a href='/tags'>View by Tags</a>


