<h1><%= @tag %></h1>

<ul id='links'>
  <% @links.each do |link| %>
    <% if @tag == link.tags.first.name %>
      <li>
        Title: <%= "<a href='https://#{link.url}'>" + link.title + "</a>" %>
      </li>
    <% end %>
  <% end %>
</ul>